<!-- <pre>{{jsonData1 | json}}</pre> -->
<!-- <div>
    <canvas id="canvas1" style="width: 100%; height: 300px;"></canvas>
  </div>
  <div>
    <canvas id="canvas2" style="width: 100%; height: 300px;"></canvas>
  </div>
  <div>
    <canvas id="canvas3" style="width: 100%; height: 300px;"></canvas>
  </div>
  
<button (click)="goBack()">Go Back</button> -->

<div>
  <canvas id="canvas1" style="width: 100%; height: 300px;"></canvas>
</div>
<div>
  <canvas id="canvas2" style="width: 100%; height: 300px;"></canvas>
</div>
<div>
  <canvas id="canvas3" style="width: 100%; height: 300px;"></canvas>
</div>
<div>
  <canvas #combinedCanvas style="width: 100%; height: 300px;"></canvas>
</div>
