<div class="text-container" style="text-align: left; color: rgb(221, 221, 14);">
    <p><b><ul><li><a style="text-align: center; color: rgb(71, 98, 14);" href="https://en.wikipedia.org/wiki/Game_of_Thrones" target=_blank>{{GOT}}</a></li></ul></b></p>
</div>
<div class="gameofthrones">
        <div style="width: 240px; height: 180px;"></div>
    <div style="text-align: center; padding: 20px 0px;">
        <button (click)="OnEnrollGot()">VOTE</button>
    </div>
</div>

<div class="text-container" style="text-align: left; color: rgb(221, 221, 14);">
    <p><b><ul><li><a style="text-align: center; color: rgb(6, 132, 122);" href="https://en.wikipedia.org/wiki/Breaking_Bad" target=_blank>{{BrBa}}</a></li></ul></b></p>
</div>
<div class="breakingbad">
        <div style="width: 240px; height: 180px;"></div>
    <div style="text-align: center; padding: 20px 0px;">
        <button (click)="OnEnrollBrBa()" style="background-color: rgb(114, 108, 196);">VOTE</button>
    </div>
</div>

