<div style="text-align:left;">
    <p><b><ul><li><a style="text-align: center; color: rgb(71, 98, 14);" href="https://en.wikipedia.org/wiki/Prison_Break" target=_blank>{{PrisonBreak}}</a></li></ul></b></p>
</div>
<div class="prisonbreak">
    <p style="background-image: url('/src/app/angular/prison_break.jpg');"></p>
        <div style="width: 240px; height: 180px;"></div>
    <div style="text-align: center; padding: 20px 0px;">
        <button (click)="OnEnrollPB()" style="background-color: rgb(226, 144, 43);">VOTE</button>
    </div>
</div>

<div style="text-align: left;">
    <p><b><ul><li><a style="text-align: center; color: rgb(71, 98, 14);" href="https://en.wikipedia.org/wiki/The_Family_Man_(Indian_TV_series)" target=_blank>{{FamilyMan}}</a></li></ul></b></p>
</div>
<div class="familyman">
        <div style="width: 240px; height: 180px;"></div>
    
    <div style="text-align: center; padding: 20px 0px;">
        <button (click)="OnEnrollTFM()" style="background-color: rgb(114, 108, 196);">VOTE</button>
    </div>
</div>

